@font-face {
    font-family: 'Apple San Francisco';
    src: url('SF-Pro.ttf');
    font-weight: normal;
    font-style: normal;
}


body, h1, h2, h3, p {
    font-family: 'Apple San Francisco', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Apple San Francisco', Arial, sans-serif;
    color: #fff; 
    background-color: rgb(32, 32, 32); 
}

.calculator {
    width: 100%;
    height: 100vh;
    background-color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* grilla */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 2px; 
}

/* pa'el display */
#result {
    grid-column: 4; 
    margin-bottom: 5px; 
    width: 206px; /* 50*4 + 2*3 */
    height: 60px;
    font-size: 42px;
    text-align: right;
    color: #fff;
    border: none;
    background-color: transparent;
    padding-right: 8px; 
}

/* pa'los operators */
.operatorButtons {
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    font-size: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.operatorButtons:hover {
    opacity: 0.8;
}

.operatorButtons:active {
    transform: scale(0.95);
}

/* pa'los numbers */
.numberButtons {
    background-color: rgb(50, 50, 50);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    font-size: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.numberButtons:hover {
    opacity: 0.8;
}

.numberButtons:active {
    transform: scale(0.95);
}

/* pa'los miscs */
.miscButtons {
    background-color: rgb(150, 150, 150);
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.miscButtons:hover {
   opacity: 0.8;
}

.miscButtons:active {
    transform: scale(0.95); /* Slight scale down on click */
}


/* pa'l zero */

#zeroButton {
    grid-column: span 2;
}

.elDesubicado {
    width: 110px; 
    border-radius: 30px;
    padding-left: 15px; 
    margin-right: 7px;
    text-align: left;
}


