@font-face {
    font-family: 'Apple San Francisco';
    src: url('SF-Pro.ttf');
    /* font-weight: normal;
    font-style: normal; <-- esto depende directamente de la fuente */
}

/* Evitar que los elementos se desborden */
*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    font-family: 'Apple San Francisco', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Apple San Francisco', Arial, sans-serif;
    color: #fff; 
    background-color: rgb(32, 32, 32); 
}

button {
    transition: .3s; /* <-- aplica a todos los botones */
}

.calculator {
    width: 275px; /* <-- aca si podes poner fijo */
    height: 600px; /* <-- aca si podes poner fijo */
    
    /* Centra el div */
    position: absolute; /* <-- posicion independiente de los demas objetos */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* -------------- */

    background-color: black;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); <-- ugly */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Extras */
    border-radius: 30px;
    border: 4px solid #1a1a1a;
}

.extra {
    width: 40%;
    height: 4px;
    border-radius: 100px;
    background-color: white;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    margin: auto;
}

/* grilla */
.buttons {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    align-items: center;
    justify-items: center;
    gap: 5px;
}

/* no repetir codigo */
.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.buttons button:hover {
    opacity: 0.8;
}

.buttons button:active {
    transform: scale(0.95);
}

/* pa'el display */
.display {
    width: 100%;
    padding: 0 10px;
}

#result {
    /* grid-column: 4;  <-- no cambia nada */
    /* margin-bottom: 5px; <-- no hace falta */
    width: 100%; /* 50*4 + 2*3 <-- dont */
    height: 60px;
    padding: 0; /* <-- tenia un padding raro */
    font-size: 42px;
    text-align: right;
    color: #fff;
    border: none;
    background-color: transparent;
    padding: 0 5%; /* <-- para que no se pegue a los bordes */
    /* padding-right: 8px;  */
}

/* pa'los operators */
.operatorButtons {
    background-color: orange;
    color: white;
    /* width: 50px; <-- si son todos iguales porque no aplicas una clase para todos? 
    height: 50px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px; <-- no espaciar de esta manera */
    border: none; /* <-- si son todos iguales porque no aplicas una clase para todos? */
    font-size: 25px;
    /* transition: background-color 0.3s ease, transform 0.2s ease; <-- no hace falta especificar todo eso*/
}

/* .operatorButtons:hover { <-- codigo repetido
    opacity: 0.8;
}

.operatorButtons:active {
    transform: scale(0.95);
} */

/* pa'los numbers */
.numberButtons {
    background-color: rgb(50, 50, 50);
    color: white;
    /* width: 50px; <-- si son todos iguales porque no aplicas una clase para todos? 
    height: 50px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px; <-- no espaciar de esta manera */
    border: none; 
    font-size: 25px;
    /* transition: background-color 0.3s ease, transform 0.2s ease; <-- no hace falta especificar todo eso*/
}

/* .numberButtons:hover { <-- codigo repetido
    opacity: 0.8;
}

.numberButtons:active {
    transform: scale(0.95);
} */

/* pa'los miscs */
.miscButtons {
    background-color: rgb(150, 150, 150);
    color: black;
    /* width: 50px; <-- si son todos iguales porque no aplicas una clase para todos? 
    height: 50px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px; <-- no espaciar de esta manera */
    border: none; 
    font-size: 20px;
    /* transition: background-color 0.3s ease, transform 0.2s ease; <-- no hace falta especificar todo eso*/
}

/* .miscButtons:hover { <-- codigo repetido
   opacity: 0.8;
}

.miscButtons:active {
    transform: scale(0.95); Slight scale down on click
} */


/* pa'l zero */

#zeroButton {
    grid-column: span 2;
}

.elDesubicado {
    width: 120px !important; /* <-- no es recomendable usar !important, pero este pisa cualquier otro atributo width aplicado */
    border-radius: 30px !important; /* <-- no es recomendable usar !important, pero este pisa cualquier otro atributo border-radius aplicado */
    padding-left: 15px; 
    /* margin-right: 7px; */
    text-align: left;
}


